<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseURL" value="https://www.facebook.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UserName" value="amhussaDebug" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="password" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WebBrowser" value="RobotizeFacebookLibrary.WebDrivers.Chrome, RobotizeFacebook" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
