<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="https://www.facebook.com/" />
    <add key="UserName" value="amhussaDebug" />
    <add key="Password" value="password" />
    <add key="WebBrowser" value="RobotizeFacebookLibrary.WebDrivers.Chrome, RobotizeFacebook" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>