<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="https://www.facebook.com/" />
    <add key="UserName" value="amhus" />
    <add key="Password" value="password" />
    <add key="WebBrowser" value="RobotizeFacebook.WebDrivers.Chrome, RobotizeFacebook" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ChromeBrowserLocation" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
    <add key="DebuggerBrowserUrl" value="127.0.0.1" />
    <add key="DebuggerBrowserPort" value="9222" />
    <add key="BrowserProcessId" value="" />
  </appSettings>
</configuration>