<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="https://www.facebook.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UserName" value="USERNAME" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="PASSWORD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WebBrowser" value="RobotizeFacebook.WebDrivers.Chrome, RobotizeFacebook" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ChromeBrowserLocation" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DebuggerBrowserUrl" value="127.0.0.1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DebuggerBrowserPort" value="9222" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RobotizeDataDirectory" value="RobotizeData"/>
    <add key="EnvironmentSettingsFile" value="EnvironmentSettingsData.json"/>
  </appSettings>
</configuration>