astroid==2.5.3
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
deepspeech==0.9.3
importlib-metadata==4.0.0
iniconfig==1.1.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.14.4
packaging==20.9
pip==18.1
pluggy==0.13.1
py==1.10.0
pylint==2.7.4
pyparsing==2.4.7
pytest==6.2.3
setuptools==40.6.2
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
wrapt==1.12.1
zipp==3.4.1
pyaudio~=0.2.11
webrtcvad~=2.0.10
halo~=0.0.18
numpy>=1.15.1
scipy>=1.1.0