<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="https://www.facebook.com/"/>
    <add key="UserName" value="USERNAME"/>
    <add key="Password" value="PASSWORD" />
    <add key="WebBrowser" value="RobotizeFacebook.WebDrivers.Chrome, Robotize.BLL"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ChromeBrowserLocation" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
    <add key="DebuggerBrowserUrl" value="127.0.0.1"/>
    <add key="DebuggerBrowserPort" value="9222"/>
    <add key="RobotizeDataDirectory" value="RobotizeData"/>
    <add key="EnvironmentSettingsFile" value="EnvironmentSettingsData.json"/>
    <add key="PowerShellOutputFile" value="PowerShellOutputFile.json"/>
  </appSettings>
</configuration>